@font-face {
  font-family: "Anta";
  src: url("fonts/Anta-Regular.ttf") format("ttf");
}

.title-container {
    color: blue;
    text-align: center;
    font-family: "Anta", sans-serif;
}

.image-and-prompts {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.montserrat-regular {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
