@font-face {
  font-family: "Anta";
  src: url("fonts/Anta-Regular.ttf") format("truetype");
}

.title-container {
    display: flex;
    color: blue;
    justify-content: center;
    font-family: "Anta", sans-serif;
    height: 10vh;
    font-size: 100px;
}

.image-and-prompts {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  margin: 0;
  gap: 10px;
}

.prompts {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.montserrat-regular {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
