@font-face {
  font-family: "Anta";
  src: url("fonts/Anta-Regular.ttf") format("ttf");
}

.title-container {
    color: blue;
    text-align: center;
    font-family: "Anta", sans-serif;
    font-size: 100;
}

.image-and-prompts {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1080px;
}
